:root {
  --primary: #2CF27C;
  --primary__dark: #0EDD62;
  --primary-text: #101617;
  /* --primary-text: #1C1C1C; */
  --secondary-text: #737A7D;
  --white: #FFFFFF;
  --primary-grey: #F5F6FA;
  --secondary-grey: #E4EAEC;
  --main-offset-top: calc(var(--vh) * 9);
  --main-offset-bottom: calc(var(--vh) * 6);
  --main-offset-horizontal: 30px;
  --offset: 24px;
  --vh: 1vh;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-text);
  line-height: 1.2;
}

body {
  margin: 0;
  background-color: var(--primary-grey);
}

p, h1, h2 {
  margin: 0;
}

.siema {
  margin: auto;
}

.slide {
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  padding: var(--main-offset-top) var(--main-offset-horizontal) 160px;
  overflow-x: hidden;
  background: var(--white);
  position: relative;
  z-index: 1;
}

.hero-slide {  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: var(--main-offset-bottom);
}

.hero-slide__1 {
  background: url(../assets/asset2.svg) left calc(-45 * var(--vh))/calc(78.41 * var(--vh)) calc(158.92 * var(--vh)) no-repeat;
}

.hero-slide__2 {
  background: url(../assets/asset1.svg) right calc(-40 * var(--vh))/calc(76.16 * var(--vh)) calc(187.85 * var(--vh)) no-repeat;
  justify-content: space-between;
}

.slide-bg {
  width: 1075px;
  height: 265px;
  position: absolute;
  z-index: -2;
  left: -120px;
  top: 0px;
  background: var(--white) url(../assets/asset4.svg) no-repeat;
}

.title {
  font-size: 4rem;
  margin-bottom: calc(var(--vh) * 14);
}

.slide-title {
  font-size: 2.5rem;
}

.body-text {
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: calc(var(--vh) * 15);
}

.cta-text {
  font-weight: 700;
  margin-top: auto;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  width: 48%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--primary);
  border-radius: 12px;
  font-size: 1.15rem;
  font-weight: 600;
  box-shadow: none;
  transition: all .2s ease-in;
}

.btn-form {
  height: 38px;
  font-size: 1rem;
  border-radius: 8px;
  min-width: 120px;
}

.btn-small {
  width: 120px;
}

.btn-large {
  width: 100%;
}

.btn__outline {
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--primary);
}

.btn-secondary {
  color: var(--primary-text);
  background: var(--primary-grey);
}

.btn:hover {
  box-shadow: 0px 8px 16px rgba(44, 242, 124, 0.25);
  background: var(--primary__dark);
  transition: box-shadow .2s ease-in,
    background .2s ease-in;
}

.btn__outline:hover {
  box-shadow: none;
  background: transparent;
  color: var(--primary__dark);
  border-color: var(--primary__dark);
  transition: color .2s ease-in,
    border-color .2s ease-in;
}

.btn-secondary:hover {
  box-shadow: none;
  background: #F1F1F1;
  transition: background .2s ease-in;
}

.next {
  box-shadow: 0px 8px 16px rgba(44, 242, 124, 0.25);  
}

.bottom-nav {
  width: 100vw;
  padding: var(--offset) var(--main-offset-horizontal) var(--main-offset-bottom);
  background: var(--white);
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: translateY(120px);
  transition: transform 0.2s ease;
}

.bottom-nav.is-visible {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.2s ease 0.3s;
}

.form-group {
  margin-top: var(--offset);
}

label {
  color: var(--secondary-text);
  display: block;
  margin-bottom: 1rem;
}

input,
select {
  width: 100%;
  height: 36px;
  border: 0;
  color: var(--primary-text);
  background: var(--primary-grey);
  border-radius: 8px;
  padding: 0 1rem;
}

input:focus,
select:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #DEE6E8;
  transition: box-shadow .2s ease-in;
}

input:invalid {
  background: #F19D98;
  box-shadow: 0 0 0 2px #EE4F44;
}

input[type="radio"] {
  visibility: hidden;
	width: 0;
  height: 0;
}
input[type="radio"] + label {
  margin: 0;
}

input[type="radio"]:checked + label {
  color: var(--white);
  background: var(--primary);
  box-shadow: 0px 8px 16px rgba(44, 242, 124, 0.25);
  transition: background 0s;
}

input[type="radio"]:checked + label:hover {
  background: var(--primary__dark);
  transition: background .2s ease-in;
}

.slider {
  height: 66px;
  margin-left: -1rem;
  margin-bottom: -30px;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-item {
  position: relative;
  min-width: 120px;
  margin-right: 1rem;
}

.slider-item:first-of-type {
  margin-left: 1rem;
}

.slider-item.is-hidden {
  min-width: 46px;
}

.slider-item > .btn {
  position: absolute;
  top: 0;
  left: 0;
}

.radio-select-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: -8px;
}

.devider {
  margin: var(--offset) 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-grey);
}

.sum {
  display: flex;
  justify-content: space-between;
  margin-top: var(--offset);
}

.sum-value {
  font-weight: 500;
}


/* IPhone SE fix */
@media(max-width: 370px) {
  .title {
    font-size: 3.5rem;
  }

  .body-text {
    font-size: 1rem;
  }
}